#sidebar.navbar-collapse collapse
	ul(class="nav nav-list", style="height: auto;")
		li
			form(target="#", method="GET", class="search-form")
				span(class="search-pan")
					button(type="submit")
						i(class="icon-search")
							input(type="text", name="search", placeholder="Search ...", autocomplete="off")
		li(class="active")
			a(href="/home")
				i(class="icon-dashboard")
					span Dashboard
		li
			a(href="")
				i(class="icon-text-width")
				span Typography
		li
			a(href="")
				i(class="icon-text-width")
				span Hai pro
		li
			a(href="")
				i(class="icon-text-width")
				span Cateogry