#sidebar.navbar-collapse.collapse
	ul.nav.nav-list(style='height: auto;')
		li
			form.search-form(target='#', method='GET')
				span.search-pan
		li
			a(href='/listlocation')
				i.icon-desktop
				span List Location
		li
			a.dropdown-toggle(href='#')
				i.icon-edit
				span Country & City
				b.arrow.icon-angle-right
			ul.submenu
				li
					a(href='/listcountry') List Country
				li
					a(href='/listcity') List City
		li
			a.dropdown-toggle(href='#')
				i.icon-list
				span Statistics
				b.arrow.icon-angle-right
			ul.submenu
				li
					a(href='/rptuserbymonth') By Month
				li.active
					a(href='/rptuserbyyear') By Year
				li
					a(href='/rptuserbycity') By City
	#sidebar-collapse.visible-lg
		i.icon-double-angle-left