doctype 5
html
	head
	- if (typeof(title) == 'undefined')
		title Express Starter Template
	- else 
		title= title
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
	link(rel='stylesheet', href='/stylesheets/flaty.css')
	link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
	link(rel='stylesheet', href='/stylesheets/flaty-responsive.css')
	link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
	script(src='/vendor/jquery.min.js')
	script(src='/vendor/jquery.form.js')
	script(src='/vendor/jquery.cookie.js')
	script(src='/vendor/jquery.flot.js')
	script(src='/vendor/jquery.flot.pie.js')
	script(src='/vendor/jquery.flot.resize.js')
	script(src='/vendor/jquery.flot.stack.js')
	script(src='/vendor/jquery.flot.tooltip.min.js')
	script(src='/vendor/jquery.nicescroll.min.js')
	script(src='/vendor/jquery.sparkline.min.js')
	script(src='/vendor/bootstrap.min.js')
	script(src='/vendor/flaty.js')
body
	include include/header
	#main-container.container
		include include/sidebar
		#main-content
			block content
			block scripts