extends ../layout

block content
	#main-content
		#breadcrumbs
			ul(class="breadcrumb")
				li
					i(class="icon-home")
					a(href="/admin") Home
					span(class="divider")
						i(class="icon-angle-right")
				li(class="active")User Profile
		.row
			.col-md-12
				.box.box-orange
					.box-title
						h3
							i.icon-file
							| Edit Profile
						.box-tool
							a(data-action="collapse", href="#")
								i.icon-chevron-up
							a(data-action="close", href="#")
								i.icon-remove
					.box-content
						form(action="/addloca", class="form-horizontal", method="POST", enctype="multipart/form-data", id="addLocaForm")
							.form-group
								label.col-sm-3.col-lg-2.control-label First Name
								.col-sm-9.col-lg-10.controls
									input.form-control(type='text', value='Jack', name ="namelocation")
									input.form-control(type='text', value='Jack', name ="typeSubmit", id ="typeSubmit")
							.form-group
								label.col-sm-3.col-lg-2.control-label Custom Dropdown
								.col-sm-9.col-lg-10.controls
									select#selRPO.form-control.chosen.chzn-done(data-placeholder='Choose a country', tabindex='-1', style='', name ="country")
										option(value='vn') Viet Nam
										option(value='jp', selected='') Japan
										option(value='us') USA
										option(value='bz') Brazil
							.form-group
								label.col-sm-3.col-lg-2.control-label Custom Dropdown
								.col-sm-9.col-lg-10.controls
									select#selRPO.form-control.chosen.chzn-done(data-placeholder='Choose a country', tabindex='-1', style='', name = "city")
										option(value='vn-hcm') Ho Chi Minh
										option(value='vn-hn', selected='') Ha Noi
										option(value='vn-dn') Da Nang
										option(value='vn-vt') Vung Tau
							.form-group
								label.col-sm-3.col-lg-2.control-label Desciprtion
								.col-sm-9.col-lg-10.controls
									textarea.form-control(rows='6', name = "description")
										| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ultrices, justo vel imperdiet gravida, urna ligula hendrerit nibh, ac cursus nibh sapien in purus. Mauris tincidunt tincidunt turpis in porta. Integer fermentum tincidunt auctor.
							.form-group
								label.col-sm-3.col-lg-2.control-label
								.col-sm-9.col-lg-10.controls
									#imageloadstatus(style='display: none;')
										img(src='/images/loader.gif', alt='Uploading....')
									#imageloadbutton
										input#photoimg(type='file', name='photos[]', multiple='true')
							.form-group
								label.col-sm-3.col-lg-2.control-label
								.col-sm-9.col-lg-10.controls
									#listImage
							.form-group
								label.col-sm-3.col-lg-2.control-label Adress Location
								.col-sm-9.col-lg-10.controls
									input.form-control(id="searchTextField", type='text', size="50")
							.form-group
								label.col-sm-3.col-lg-2.control-label About
								.col-sm-9.col-lg-10.controls
									#map(style='width: 536px; height: 400px;')
							.form-group
								label.col-sm-3.col-lg-2.control-label Is On Recommend
								.col-sm-9.col-lg-10.controls
									input(type="checkbox",name="isrecommend",value="true")
							.form-group
								label.col-sm-3.col-lg-2.control-label
								.col-sm-9.col-lg-10.controls
									button.btn.btn-primary(type='submit',id = "btnSave") Submit
									button.btn(type='button') Cancel
block scripts
	//script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
	script(src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places")
	script(src='/vendor/jquery.form.js')
	script(src='/javascripts/location.js')
